{% extends 'base.html'%}


{% block content%}
<div id="main">

            <div class="stage">
                <div class="intro_info">
                    {% if user.is_authenticated %}
                       <h1>Привет, {{user.first_name}}!</h1>

                    {% else %}
                        <h1>Привет, клиент!</h1>
                    {% endif %}

                    <hr>
                    <h2 class="text_intro">Здесь Вы сможете получить информацию о своих тренировках.</h2>
                </div>

            </div>

      </div>
{% endblock %}