{% extends 'home_page/base.html'%}


{% block content%}
<div class="container">

  <div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card text-center mt-5">
  <div class="card-header">
    Информация
  </div>

  <div class="card-body">
    <h5 class="card-title">{{user.first_name}} , Ваши тренировки</h5>
      <ul class="list-group">
          {% if info %}
            {% for val in info %}
                <li class="list-group-item">{{val}}</li>
            {% endfor %}
          <button type="button" class="btn btn-light mt-4"><a href="https://t.me/katsko_fit"> Написать тренеру в Telegram</a></button>
                    <button type="button" class="btn btn-light mt-4"><a href="https://instagram.com/katsko_trener"> Написать тренеру в Instagram</a></button>


        {% else %}
            <button type="button" class="btn btn-light mt-4"><a href="{% url 'create_user_profile' %}"> Заполниите профиль, чтобы получить тренировки</a></button>
        {% endif %}

        </ul>


  </div>
  <div class="card-footer text-muted">
    ...
  </div>
</div>

    </div>
  </div>
</div>


{% endblock %}