{% extends "base.html" %}
{% block content %}

	{% load crispy_forms_tags %}

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Восстановление пароля</h2>
		<hr>
		{% if messages %}

        {% for message in messages %}
            <button class="btn btn-primary {{ message.tags }}" type="button">{{ message|safe }}</button>

        {% endfor %}
		{% endif %}
		<p>Забыли пароль? Введите свой Email для отправки информации восстановления пароля.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}
            <button class="btn btn-primary mt-4" type="submit">Выслать письмо</button>
        </form>
  	</div>

{% endblock %}